        <!DOCTYPE html>
        <html>
        <head lang="en">
            <meta charset="UTF-8">
            <link rel="stylesheet" href="css/styles.css">
            <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
            <title>MLATC Calendar</title>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script src="js/angular.min.js"></script>
            <script src="js/script.js"></script>
            <script src="js/main2.ctrl.js"></script>
        </head>
        <body ng-app="CalendarApp" ng-controller="calendarController as main">
        <div>
            <img class="logo" src="images/MLATC.gif" alt="MLATC Logo">
        </div>
        <div><span class="controls">
            <select ng-model="main.selectedMonth"
                ng-options="month.name for month in main.monthsNames">
            <option value="">-- choose month --</option>
        </select>
        <select ng-model="main.selectedYear"
                ng-options="year for year in main.years">
            <option value="">-- choose year --</option>
        </select>
            <button type="button" data-ng-click="main.newYear()">Remake Calendar</button>
            <button type="button" data-ng-click="main.thingy()">console tester</button>
        </span></div>

        <div class="main.errorMessage.cssClass">{{main.errorMessage.message}}</div>
            <div class= "calendarTable" ng-repeat="month in main.months">
                <table  BORDER=3 CELLSPACING=3 CELLPADDING=3>
                    <tr>
                        <td class="month_cell" COLSPAN="7"><B>{{month.monthName}}, {{main.year}}</B></td>
                    </tr>
                    <tr>
                        <td class="day_cell" ng-repeat="day in main.days">{{day.day}}</td>
                    </tr>
                    <tr ng-repeat="week in month.monthDays">
                        <td ng-repeat="day in week" class={{day.dayName}}>{{day.date}}</td>
                    </tr>

                </table>

            </div>

        </body>
        </html>